astroboa-engine/src/main/resources/META-INF/builtin-definition-schemas/accessibilityType.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--

		Copyright (C) 2005-2012 BetaCONCEPT Limited This file is part of Astroboa.

		Astroboa is free software: you can redistribute it and/or modify it
		under the terms of the GNU Lesser General Public License as published
		by the Free Software Foundation, either version 3 of the License, or
		(at your option) any later version. Astroboa is distributed in the hope
		that it will be useful, but WITHOUT ANY WARRANTY; without even the
		implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
		PURPOSE. See the GNU Lesser General Public License for more details.

		You should have received a copy of the GNU Lesser General Public
		License along with Astroboa. If not, see
		<http://www.gnu.org/licenses/>. 
		
		Authors:
		Gregory Chomatas (gchomatas@betaconcept.com)
		Savvas Triantafyllou (striantafyllou@betaconcept.com)
		
	-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.betaconceptframework.org/schema/astroboa/admin/accessibilityType"
	xmlns:tns="http://www.betaconceptframework.org/schema/astroboa/admin/accessibilityType"
	xmlns:bccmsmodel="http://www.betaconceptframework.org/schema/astroboa/model"
	version="${project.version}">

	<xs:import
		namespace="http://www.betaconceptframework.org/schema/astroboa/model"
		schemaLocation="astroboa-model-${project.version}.xsd" />


	<!--  Every element that does not define minOccurs and maxOccurs values, the defaults are considered
		that is minOccurs=1 and maxOccurs=1 as defined by XML Schema -->


	<xs:complexType name="accessibilityType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Access Rights
			</xs:documentation>
			<xs:documentation xml:lang="el">
				Δικαιώματα Πρόσβασης
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bccmsmodel:complexCmsPropertyType">
				<xs:sequence>
					
					<xs:element name="canBeReadBy"
						minOccurs="1"
						maxOccurs="unbounded"
						type="xs:string" 
						default="ALL">
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Can Be Read By
							</xs:documentation>
							<xs:documentation xml:lang="el">
								Μπορεί να Διαβαστεί από
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="canBeTaggedBy"
						minOccurs="1"
						maxOccurs="unbounded" 
						type="xs:string"
						default="ALL">
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Can Be Tagged By
							</xs:documentation>
							<xs:documentation xml:lang="el">
								Μπορεί να κατηγοριοποιηθεί από
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="canBeUpdatedBy"
						minOccurs="1"
						maxOccurs="unbounded" 
						type="xs:string"
						default="NONE"
						>
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Can Be Updated By
							</xs:documentation>
							<xs:documentation xml:lang="el">
								Μπορεί να αλλαχθεί από
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="canBeDeletedBy"
						minOccurs="1"
						maxOccurs="unbounded"
						type="xs:string"
						default="NONE"
						>
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Can Be Deleted By
							</xs:documentation>
							<xs:documentation xml:lang="el">
								Μπορεί να σβηστεί από
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
