astroboa-engine/src/main/resources/META-INF/builtin-definition-schemas/astroboa-api.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
	<!--

		Copyright (C) 2005-2011 BetaCONCEPT LP. This file is part of Astroboa.

		Astroboa is free software: you can redistribute it and/or modify it
		under the terms of the GNU Lesser General Public License as published
		by the Free Software Foundation, either version 3 of the License, or
		(at your option) any later version. Astroboa is distributed in the hope
		that it will be useful, but WITHOUT ANY WARRANTY; without even the
		implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
		PURPOSE. See the GNU Lesser General Public License for more details.

		You should have received a copy of the GNU Lesser General Public
		License along with Astroboa. If not, see
		<http://www.gnu.org/licenses/>. Authors Gregory Chomatas
		(gchomatas@betaconcept.com) Savvas Triantafyllou
		(striantafyllou@betaconcept.com)
	-->
	<!--
		This Schema describes all XML elements and Types used in Astroboa
		Services either as method arguments or method results
	-->
<xs:schema xmlns:bccmsmodel="http://www.betaconceptframework.org/schema/astroboa/model"
	xmlns:tns="http://www.betaconceptframework.org/schema/astroboa/api"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
	targetNamespace="http://www.betaconceptframework.org/schema/astroboa/api"
	version="${project.version}">

	<xs:import namespace="http://www.betaconceptframework.org/schema/astroboa/model"
		schemaLocation="astroboa-model-${project.version}.xsd" />

	<xs:element name="resourceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resourceCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any"
								processContents="strict" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="totalResourceCount" type="xs:int"
				use="optional" />
			<xs:attribute name="offset" type="xs:int" use="optional" />
			<xs:attribute name="limit" type="xs:int" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="repository">
		<xs:complexType>
			<xs:sequence>

				<xs:element maxOccurs="1" minOccurs="0" name="repositoryUsers">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1"
								name="repositoryUser" type="bccmsmodel:repositoryUserType" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element maxOccurs="1" minOccurs="0" name="taxonomies">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="taxonomy"
								type="bccmsmodel:taxonomyType" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>


				<!-- This element represent content objects -->
				<xs:element maxOccurs="1" minOccurs="0" name="contentObjects">
					<xs:complexType>
						<xs:sequence>
							<xs:any maxOccurs="unbounded" minOccurs="0"
								processContents="lax" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element maxOccurs="1" minOccurs="0" name="organizationSpace"
					type="bccmsmodel:spaceType" />

			</xs:sequence>

			<!-- Repository Identifier -->
			<xs:attribute name="id" type="xs:string" />
			
			<!-- Xml creation date -->
			<xs:attribute name="created" type="xs:dateTime" />
		</xs:complexType>
	</xs:element>

</xs:schema>
